<h2>Recommend Item</h2>
<div class="row-fluid" id="ritem">
	<% @Product.each do |p| %>
    		<div class="span3">
    			<%= link_to p.name, p %>
              	<%= product_image p.image, "big", p.name %>
            </div><!--/span-->
    <%end%>
 </div>
 <h2>New Item</h2>
 <div class="row-fluid">
	<% @Count.each do |p| %>
    		<div class="span3">
    			<%= link_to p.name, p %>
              	<%= product_image p.image, "big", p.name %>
            </div><!--/span-->
    <%end%>
 </div>