<% if @Product.errors.any? %>
  <div id="error_explaination">
	<div class="alert alert-error">
	  The form contains <%= pluralize(@Product.errors.count, "error") %>.
	</div>
	<ul>
	<% @Product.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	<% end %>
	</ul>
  </div>
<% end %>